langgraph 
langsmith
langchain
openai
langchain-community
langchain-openai
gradio
google-generativeai
langchain-groq
langchain-ollama
langchain-deepseek
ipython 
ipykernel
langchain-tavily
langchain_google_genai
langchain-google-vertexai
langchain-mistralai
langchain-anthropic # we don't have subscription
langchain-xai
